.contenedorMain{

    min-height: 100vh;
    max-width: 80%;
    position: relative;
    display: flex;


}
.imagen{
margin-bottom: 4em;
    max-width: 1060px;
    border-radius: 10px;
}
.tareas{
    position:absolute;
    top: 0;
    
}