
.contenedorListaTareas{
    min-width: 100%;
    margin-top: 2.3em;
}

.contenedorListaTareas ul {
    padding-left: 0;
    margin: 0;
    
}

.contenedorListaTareas .listaTareas {
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;


   

    
}
.contenedorBotoner{
    display: flex;
    justify-content: center;

}

 .contenedorCheckbox {
    margin: 15px;
    
}

 .checkbox {
    border-radius: 100%;
}

 .listaTareas .tarea{
    list-style-type: none;

    font-size: 1rem;
    
}

 .contenedorBotoner button{
    width: 50px;
    border: none;
    background-color: transparent;

}
input{
    border: none;
    font-size: 1rem
}

.contenedorNuevaTarea {
    margin: 15px 0px 15px 51px;
    display: flex;
    justify-content: flex-start;
    margin-left: 13em;


}



 .botonAgregar {
    width: 50px;
    border: none;
    background-color: transparent;
}

.listaTareas{
    height: 3.07em;
    width: 30%;
}
.checkLista{
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
    min-width: 45em;
    margin-left: 10em;
    height: 100%;}
ul{
    width: 100%;
}

@media only screen and (max-width: 1200px){

    .contenedorListaTareas{

        margin-top: 1.5em;
    }


    .checkLista{
        min-width: 39em;
        margin-left: 10em;


    }
    
    .listaTareas{
        height: 2.9em;
        width: 30%;
    }

    .contenedorNuevaTarea{

 margin-top: 0.5em;
        margin-left: 13em;
    }

}